{% extends 'base_layout.html' %}
{% load static from staticfiles %}


{% block content %}
  <div class="mission-container">
    <div class="logo-intro">
      <h1><a href="{% url 'home' %}"><img src="{% static 'Logo.svg' %}" width="240"  height="180"/></a></h1>
      <p>Welcome to your profile, here you can look at images you have saved, or search for them based on parameters you defined through processing your saved images</p>
    </div>
  </div>
  <div class="article-title">
    {% if tag %}
      <h1>Tagged Article List</h1>
    {% else %}
      <h1>Saved Images</h1>
    {% endif %}
  </div>
  <div class='query-result'>
    {% if tag %}
      <h2>Articles tagged with "{{ tag.name }}"</h2>
    {% endif %}
  </div>
    <div class = "articles">
      {% for image in images %}
        <div class="article">
          <h2><a href="{% url 'image:detail' slug=image.slug %}">{{image.title}}</a></h2>
          <p>{{q}}
          <p>{{image.snippet}}</p>
          <p>{{image.date}}</p>
          <!-- <p>{{blog.tags.all|join:", "}}</p> -->
          <p class="tags">
            Tags:
            {% for tag in image.tags.all %}
              <a href="{% url 'images:images_list_by_tag' tag_slug=tag.slug %}">
                {{ tag.name }}
              </a>
              {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <!-- <p class="author">added by {{article.author}}</p> -->
        <!-- <p class="author">added by {{article.author.username}}</p> -->
      </div>
    {% endfor %}
  </div>
  {% include "pagination.html" with page=images %}
{% endblock %}
